<div class="page-header">
  <h1>
    Readings
    <a href="/readings/new" class="btn btn-lg btn-success">New Reading</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Article</th>
        <th>Actions</th>
      </tr>

      <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.user_id %></td>
        <td><%= reading.article_id %></td>
        <td>
          <a href="/readings/<%= reading.id %>" class="btn btn-primary">Show</a>
          <a href="/readings/<%= reading.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_reading/<%= reading.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
