<div class="page-header">
  <h3>Article #<%= @article.id %></h3>
</div>

<div class="article-container">

<!--   <iframe src="<%= @article.source %>" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe> -->
    <iframe src="<%= @article.source %>"  style=" border-width:0 " width="320" height="600" frameborder="0" scrolling="auto"></iframe>
</div>



<!-- <div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @article.title %></dd>

      <dt>Description</dt>
      <dd><%= @article.description %></dd>

      <dt>Source</dt>
      <iframe src="<%= @article.source %>" width= 100% height= 600px></iframe>
      <dd></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/articles" class="btn btn-primary">
        Back
      </a>
      <a href="/articles/<%= @article.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_article/<%= @article.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div> -->
