<!-- Validation failure messages -->
<% if @tag_candidate.errors.any? %>
  <% @tag_candidate.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Tag Candidate #<%= @tag_candidate.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_tag_candidate/<%= @tag_candidate.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for article_id -->
      <div class="form-group">
        <label for="article_id" class="control-label">
          Article
        </label>

        <input type="text" id="article_id" name="article_id" placeholder="Article" class="form-control" value="<%= @tag_candidate.article_id %>">
      </div>

      <!-- Label and input for candidate_id -->
      <div class="form-group">
        <label for="candidate_id" class="control-label">
          Candidate
        </label>

        <input type="text" id="candidate_id" name="candidate_id" placeholder="Candidate" class="form-control" value="<%= @tag_candidate.candidate_id %>">
      </div>

      <button class="btn btn-warning">
        Update Tag Candidate
      </button>
      or
      <a href="/tag_candidates/<%= @tag_candidate.id %>">Cancel</a>
    </form>
  </div>
</div>
