<div class="page-header">
  <h3>Bia #<%= @bium.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @bium.user_id %></dd>

      <dt>Article</dt>
      <dd><%= @bium.article_id %></dd>

      <dt>Level</dt>
      <dd><%= @bium.level %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bia" class="btn btn-primary">
        Back
      </a>
      <a href="/bia/<%= @bium.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bium/<%= @bium.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
