<div class="jumbotron col-sm-offset-1 col-sm-10" >
  <h2><strong>Welcome home, <%= current_user.username %>!</strong></h2>
  <p>Keep getting informed and helping others do so as well! Follow candidates and issues through news they are taggeed in, and help out by adding your own articles, tags and comments.</p>
</div>

<div class="container">
  <div class="row" style="margin-right: 10px; padding:0px; border: 0px;">
    <!-- Candidates -->
    <div class="col-sm-offset-1 col-sm-5">

      <a href="#" class="list-group-item active">
        My Candidates <small><em>| Add New |</em></small>
      </a>

      <ul class="list-group" style=" max-height: 200px; overflow: scroll; overflow-x:hidden;">
        <% current_user.followed_candidates.each do |candidate| %>
        <li class="list-group-item">
          <span class="badge"><%= candidate.tag_candidates.pluck(:id).size %></span>
          <a href="/candidates/<%= candidate.id %>"><%= candidate.name %></a>
        </li>
        <% end %>
      </ul>

    </div>

    <!-- Issues -->
    <div class="col-sm-5">

      <a href="#" class="list-group-item active">
        My Issues <small><em>| Add New |</em></small>
      </a>

      <ul class="list-group" style=" max-height: 200px; overflow: scroll; overflow-x:hidden;">
        <% current_user.followed_issues.each do |issue| %>
        <li class="list-group-item">
          <span class="badge"><%= issue.tag_issues.pluck(:id).size %></span>
          <a href="/issues/<%= issue.id %>"><%= issue.title %></a>
        </li>
        <% end %>
      </ul>
    </div>


    <!-- articles -->

  </div>
</div>
