
<div class="container hidden-xs hidden-s">
<% if type == "my"; @candidates = @my_candidates; end %>

  <div id="products" class="row list-group">

    <% @candidates.each do |candidate| %>
    <div class="item  col-xs-2 col-lg-2">
      <div class="thumbnail">
        <div class="img-box">
          <img class="group list-group-image img-rounded" src=" <%= candidate.image %> " alt="">
        </div>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <a href="/candidates/<%= candidate.id%>"><%= candidate.name %></a></h4>
            <p class="group inner list-group-item-text">
              <%= candidate.party %>
            </p>
            <p class="group inner list-group-item-text">
              Currently: <%= candidate.current_position %>
            </p>
            <p class="group inner list-group-item-text">
              Candidacy: <%= candidate.new_position %>
            </p>
            <div class="row">
              <div class="col-xs-12 col-md-6" style= "width: 100%;">

                <% if  candidate.followers.pluck(:id).include?(current_user.id) %>
                <a class="btn btn-success btn-sm" href="/delete_follow_candidate/<%= candidate.follow_candidates.find_by({ :user_id => current_user.id }).id %>">Un-Follow</a>

                <% else %>

                <form action="/create_follow_candidate" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
                  <input type="hidden" id="candidate_id" name="candidate_id" placeholder="Candidate" class="form-control" value="<%= candidate.id %>">
                  <button class="btn btn-default btn-sm">
                    Follow
                  </button>
                </form>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row hidden-md hidden-lg hidden-xl">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Candidate</th>
          <th>Action</th>
        </tr>

        <% @candidates.each do |candidate| %>
        <tr>
          <td><a href="candidates/<%= candidate.id %>"> <%= candidate.name %></td>
          <td>
            <a class="btn btn-default btn-xs" href="http://www.jquery2dotnet.com">Follow</a>
        <!-- detect if it0s being followed
        <a class="btn btn-success btn-sm" href="http://www.jquery2dotnet.com">Un-Follow</a> -->
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
