<div class="page-header">
  <h1>
    Follow issues
    <a href="/follow_issues/new" class="btn btn-lg btn-success">New Follow issue</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Issue</th>
        <th>Actions</th>
      </tr>

      <% @follow_issues.each do |follow_issue| %>
      <tr>
        <td><%= follow_issue.user_id %></td>
        <td><%= follow_issue.issue_id %></td>
        <td>
          <a href="/follow_issues/<%= follow_issue.id %>" class="btn btn-primary">Show</a>
          <a href="/follow_issues/<%= follow_issue.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_follow_issue/<%= follow_issue.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
